################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular-movies/src/app/utilities/input-img/MyClass.java
