<div *ngIf="!list">
    <span #loading></span>
    <ng-content select="[loading]"></ng-content>

    <span *ngIf="!loading.innerHTML.trim()">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" alt="" />
    </span>
</div>


<div *ngIf="list?.length === 0">
    <span #empty>
        <ng-content select="[empty]"></ng-content>
    </span>

    <span *ngIf="!empty.innerHTML.trim()">
        There are no records to display
    </span>
</div>

<ng-container *ngIf="list && list.length > 0">
    <ng-content select="[content]"></ng-content>
</ng-container>